h1	{
	font-family: 'Ultra', serif;
	color: #fe4a3a;
	font-size: 11rem;
	margin-bottom: 25px;
	margin-top: 20%;
	overflow: visible;
	letter-spacing: -20px;
	line-height: 80%;
}

li {
	text-decoration: none;

}

h2 {
	font-family: 'Josefin Slab', serif;
	color: #000;
	font-weight: 700;
}

body {
	background: #fef1c4;
	font-family: 'Josefin Slab', serif;
	max-width: 1250px;
}
 
section {
	color: #000;
}

/*.container {
	width: 50%;
	margin: 12% auto;
	max-width: 625px;
}

/*
p, em {
	font-family: 'Josefin Slab', serif;
}
*/

a {
	text-decoration: none;
	border-bottom-width: 1px;
	color: #fe4a3a;
	font-weight: 700;
}

a:hover {
	opacity: .5;
}

.portrait {
	max-width: 19%;
	border-radius: 100%;
	border: solid 1em;
	border-color: #fe4a3a;
	position: absolute;
	top: 0;
	left: 0;
}


.color-1 {
	width: 50px;
	height: 50px;
	background: #fe4a3a;
	border: solid 2px;
	float: left;

}

.color-2 {
	width: 50px;
	height: 50px;
	background: #fef1c4;
	border: solid 2px;
	float: left;
	margin: 0 33%;
}

.color-3 {
	width: 50px;
	height: 50px;
	background: #000;
	border: solid 2px;
	float: left;
}

.clearfix {
  overflow: auto;
}

